*{
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(171, 170, 173);
    border-radius: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    margin: 10px;
}
fieldset{
    background-color: #8ac9c9;
    border: 1px solid blueviolet;
}
.MainHeading{
    text-align: center;
}
input[type="submit"]{
    background-color: rgb(94, 243, 104);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
    margin: 20;
}
input[type="submit"]:hover{
    background-color: rgb(36, 173, 36);
}